<div>
  <h1 class="mt-4">Projeto Tudo Azul 3.0</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
      Sistema para cadastro e acompanhamento de alunos com necessidades especiais
    </li>
  </ol>
  <h3>Motivações</h3>


  <p> <strong>TUDO</strong> – canaliza nossas experiências com a problemática das crianças com necessidades especiais,
    seus tutores legais,
    professores e pessoas que realmente estão engajados com a melhoria da qualidade de vida de cada pessoa, criança,
    adolescente, ser humano. Tudo vem do modo em que agimos e nos tornamos parte de um todo maior, onde deixamos de
    pensar só no EU e passamos a nos empenharmos no NÓS...</p>
  <p><strong>AZUL</strong> – essa cor estimula o sentimento de calma e de maior equilíbrio para as pessoas. O azul
    auxilia
    em situações em
    que a criança apresenta uma sobrecarga sensorial; algo que precisa ser lidado com sabedoria para o bem-estar do
    pequeno. Vale ressaltar que isso representa mais leveza no aspecto emocional do autista. Um detalhe que faz toda
    diferença.
  </p>
